<!DOCTYPE html>
<html lang="en">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        <%= locals.title %> 
    </title>

    <link rel="stylesheet" href="/css/homeStyles.css">
    <link rel="stylesheet" href="/css/fontawesome-free-6.0.0-web/fontawesome-free-6.0.0-web/css/all.min.css">

</head>
<body>

    <header id="header">
        <div id="name">
            <span>
                Begin Finance
            </span>
        </div>

        <div id="search">
            <div id="search-bar" class="search-bar-divs">
                <form action="">
                    <input type="text">
                    <i class="fa-solid fa-magnifying-glass"></i>
                </form>
            </div>
            <div class="search-bar-divs">
                <span>
                    <a href="">Ask Support</a>
                </span>
            </div>
            <div class="search-bar-divs">
                <span>
                    <a href="/users/SignUp">Sign Up</a>
                </span>
            </div>
            <div class="search-bar-divs">
                <span>
                    <a href="/users/SignIn">Sign In</a>
                </span>
            </div>
            
        </div>
    </header>

    <main>
        
    </main>
    
</body>
</html>