<html>
    <head>
        <title>Sign Up</title>

        <link rel="stylesheet" href="/css/SignUpStyles.css">
    </head>

    <body>

        <div id="mainDiv">
            <div id="signUpImage">
                
            </div>
            <div id="div2">
                <div id="heading">
                    <span>Sign Up</span> 
                </div>
                <div id="sign-Up-Form">
                    <form action="/users/Create" method="post">
                        <input type="text" name="userName" placeholder="name" required>
                        <input type="email" name="userEmail" placeholder="email" required>
                        <input type="password" name="password" placeholder="Password" required>
                        <input type="password" name="confirmPass" placeholder="Confirm Password" required> <br>
                
                        <input type="submit" value="SignUp">
                        <br><br>
                    </form>
                </div>

            </div>

        </div>
    
       

    </body>

</html>

