<html>
    <head>
        <title>Sign Up</title>

        <link rel="stylesheet" href="/css/SignInStyles.css">
    </head>

    <body>

        <div id="mainDiv">
            <div id="signInImage">
                
            </div>
            <div id="div2">
                <div id="heading">
                    <span id="login">Login</span> <br> 

                    <p id="xyz">
                        New to BeginFinance? 
                        <a href="/users/SignUp">SignUp today</a>
                    </p>
                </div>
                <!-- Sign In Form -->
                <div id="sign-in-Form">
                    <form action="/users/Create_Session" method="post">
                        <input type="email" name="userEmail" placeholder="email" required>
                        <input type="password" name="password" placeholder="Password" required><br>

                        <input type="submit" value="Login">
                        <br><br>
                    </form>
                </div>

            </div>

        </div>
    
       

    </body>

</html>

